*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*CONFIGURAÇÕES CELULAR*/
div#celular{
    width: 312px;
    height: 629px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#tela{
    width: 268px;
    height: 475px;
    border-radius: 3px;
    background-color: greenyellow;
}
#tela > iframe{
    width: 100%;
    height: 100%;
}
/*CONFIGURAÇÕES MENU*/
#menu{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}
ul#lista{
    list-style-type: none;
}
#lista li{
    margin-bottom: 24px;
    background-color: red;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.417);
    cursor: pointer;
}
ul#lista img{
    width: 50px;
    border-radius: 50%;
}
ul#lista img:hover{
    border: 2px solid white;
    transition: ease-in-out 0.3s;
}
ul#lista img:hover li{
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.417);
    transform: ;
}
.tela-pages{
    width: 100%;
}